body {
  margin: 50px;
  font-family: 'Courier New', Courier, monospace;
  background-color: antiquewhite;
  margin-bottom: 100px;
}

p {
  font-size: 16px;
  padding: 10px;
  color: rgb(7, 6, 6);
}

.images {
  width: 300px;
  border-radius: 30px;
  transition: opacity 0.15s;
  cursor: pointer;
}
.images:hover {
  opacity: 0.8;
}
.images:active {
  opacity: 0.5;
}

.story {
  display: flex;
  flex-direction: column;
  width: 330px;
  align-items: center;
  margin: 0 auto;   /* <-- questo centra il blocco orizzontalmente */
}

.hidden {
  display: none;
}
.hidden_text_bench {
  color: rgb(16, 93, 16);
}

.over_text {
  cursor: pointer;
}

button {
      padding: 10px;
      margin: 10px;
      background: none;
      border: solid;
      border-style: dotted;
      border-radius: 10px;
      font-size: 16px;
      transition: all 0.15s;
      cursor: pointer;
}
button:hover {
  background-color: rgb(218, 227, 224);
}
button:active {
  background-color: rgb(82, 101, 95);
}
.wait {
  transition: all 0.667s;
}
.wait:active {
  transform: rotate(180deg);
  background-color: red;
}

.expand {
  cursor: pointer;
}

.navigation {
  margin-top: 100px;
  margin-bottom: 50px;
}

.last_block {
  margin: 300px auto 0;  /* top | left/right auto | bottom */
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 12px;             /* spazio tra i due link */
  align-items: stretch;  /* i link occupano tutta la larghezza */
}

.pedige {
  display: block;
  color: rgb(82, 101, 95);
  transition: all 0.15s;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
}
.pedige:hover {
  transform: scale(0.9);
  color: rgb(52, 88, 76);
  box-shadow: 10px 10px 30px rgba(115, 181, 100, 0.7);
}
.pedige:active {
  transform: scale(0.5);
}